<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Uncomment these if needed in the future -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash_screen"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/btn_star_big_on"
        android:supportsRtl="true"
        android:theme="@style/Theme.DMITimetable"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />

        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".AdminDashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"/> <!-- Added android:exported -->

        <!-- Lecturer Dashboard Activity -->
        <activity
            android:name=".LecturerDashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"/> <!-- Added android:exported -->

        <!-- Student Dashboard Activity -->
        <activity
            android:name=".StudentDashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"/> <!-- Added android:exported -->

    </application>

</manifest>
